@import "tailwindcss";
@plugin "daisyui";

body{
   background-color: black;
   color: white;
}

.underline{
   margin-left: 120px;
   margin-top: 40px;
}

.card{
   background-color: rgb(8, 8, 8);
   color: white;
   height: 280px;
}



.release{
   margin-top: 30px;
}

#cards{
   height: 310px;
}

.card-body{
   padding-top: 2px;
}
