@import "tailwindcss";
@plugin "daisyui";

body{
   background-color: black;
   color: white;
}

.underline{
   margin-left: 120px;
   margin-top: 40px;
}

.card {
   background-color: black;
   color: white;
   height: 350px;
   display: flex;
   flex-direction: column;
}

.card-img-top {
   height: 300px;
   width: 100%;
   object-fit: cover;
}

.card-body {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

