@import "tailwindcss";
@plugin "daisyui";

body{
   background-color: black;
   color: white;
}

.underline{
   margin-left: 120px;
   margin-top: 40px;
}




.card{
   height: 300px;
   width: 250px;
   background-color: rgb(18, 39, 18);
   color: white;
   
}

.card-img-top{
   height: 350px;
}

.release{
   margin-top: 30px;
}


